.noteSection {
  width: calc(100% - 400px);
 /* height: calc(100% - 83px); */
}

.noteDate {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  max-width: 100%;

  font-size: 16px;
  color: var(--main-grey);
  background-color: rgb(250, 250, 250);
}

.noteTitle {
  display: block;
  box-sizing: border-box;
  padding: 10px 30px;
  border: none;
  width: 100%;

  font-size: 23px;
  font-weight: bold;
}

.noteText {
  display: flex;
  box-sizing: border-box;
  padding: 20px 30px;
  border: none;
  height: 100%;
  width: 100%;

  font-size: 20px;
  line-height: 1.3;
}

.noteNotification {
  text-align: center;
  padding: 200px 30px;

  font-size: 25px;
}
