.noteSection {
  /* display: none; */

  @media screen and (min-width: 768px) {
    width: 100vw;
    /* background-color: var(--background-grey); */
  }
}

.noteDate {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  max-width: 100%;

  font-size: 16px;
  color: var(--text-grey);
  /* background-color: var(--background-grey); */
}

.noteTitle {
  display: block;
  box-sizing: border-box;
  padding: 10px 30px;
  border: none;
  width: 100%;

  font-size: 23px;
  font-weight: bold;
  color: var(--main-black);
  
}

.noteText {
  display: flex;
  box-sizing: border-box;
  padding: 20px 30px;
  border: none;
  height: 100%;
  width: 100%;

  font-size: 20px;
  line-height: 1.3;
color: var(--main-black);
}

.noteNotification {
  text-align: center;
  padding: 200px 30px;

  font-size: 25px;
}
