.searchBox {
  display: flex;
  width: 50%;
  gap: 10px;
}

.searchBoxBtn {
  justify-content: center;
  padding: 10px 80px;
  color: var(--main-grey);
}

.searchBoxField {
  width: 30vw;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.searchIcon {
  fill: var(--main-grey);
  margin-right: 10px;
}
