html[data-theme='dark'] {
  $lightGrey: rgb(225, 225, 225);
  $mainTextColor: rgba(0, 0, 0, 1);
  $accentColor: rgba(3, 46, 221, 1);
}

html[data-theme='light'] {
$lightGrey: rgb(67, 66, 66);
  $mainTextColor: rgba(0, 0, 0, 1);
  $accentColor: rgba(3, 46, 221, 1);
}
