/* @import-normalize; bring in normalize.css styles */
@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-black: rgba(39, 39, 39, 1);
  // --main-grey: rgb(118, 118, 118);
  /* --main-light: rgba(255, 255, 255, 1);
  --main-yellow: rgba(244, 206, 12, 1);
  --bright-yellow: rgba(255, 199, 0, 1);
  --btn-black: rgba(13, 12, 17, 1);
  --btn-no_active: rgba(218, 218, 218, 1);
  --text_btn-no_active: rgba(142, 142, 142, 1);
  --main-green: rgba(59, 222, 124, 1); */



}

html[data-theme='dark'] {
  --main-grey: rgb(225, 225, 225);
  $mainTextColor: rgba(0, 0, 0, 1);
  $accentColor: rgba(3, 46, 221, 1);
}

html[data-theme='light'] {
  --main-grey: rgb(67, 66, 66);
  $mainTextColor: rgba(0, 0, 0, 1);
  $accentColor: rgba(3, 46, 221, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  /* box-shadow: none; */

  fill: var(--main-grey);
  /* border: 1px solid var(--main-grey); */
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--main-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.toolbarBox {
  /* position: relative; */
  display: flex;
  justify-content: center;
  padding: 13px 10px;

  background-color: rgb(225, 225, 225);
  box-shadow: 0px 6px 10px rgba(128, 128, 128, 0.5);
  z-index: 2;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    padding: 18px 18px;
  }

  @media screen and (min-width: 1440px) {
    box-sizing: border-box;
    min-width: 1440px;
    max-width: 100vw;
    padding: 18px 22px;
  }
}

.toolbarDownBox {
  position: absolute;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px -6px 10px rgba(128, 128, 128, 0.5);
}

.noteListBox {
  display: flex;
  position: relative;
  width: 100%;
}

.customNotiflix {
  height: 100px;
}
