.workspaceBox {
  display: flex;
  gap: 18px;
}

.workspaceBtn {
  display: flex;
  align-items: center;
  padding: 12px 44px;
  fill: rgb(118, 118, 118);
  border-radius: 6px;
}

.workspaceBtn:disabled {
  fill: rgb(225, 225, 225);
}
