.notesList {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 127px);
  padding: 0 0 0 25px;

  overflow-y: scroll;
  box-shadow: 0 1px 3px var(--shadow), 0 1px 2px rgba(0, 0, 0, 0.24);

  @media screen and (min-width: 768px) {
    width: 300px;
    height: calc(100vh - 83px);
  }
  @media screen and (min-width: 1440px) {
    width: 420px;
  }
}

.notesListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 19px 19px 19px 5px;
  height: 70px;

  box-shadow: 0 2px 0 var(--shadow);
  cursor: pointer;
}

.selectedNotesListItem {
  background-color: var(--accent-blue);
  border-radius: 5px;
  box-shadow: 0px 4px 8px var(--shadow);
}

.notesListTitle {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 16px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.notesListBox {
  display: flex;
  gap: 16px;
  align-items: center;

  font-size: 13px;

  @media screen and (min-width: 768px) {
    font-size: 15px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 17px;
  }
}

.notesListText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
